<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Purrfect Health</title>
        {% else %}
        <title>Purrfect Health</title>
        {% endif %}
    </head>
    <body>
        <div>
            Purrfect Health:
            <a href="{{ url_for('index') }}">Home</a>
            {% if not session.user %}
            <a href="{{ url_for('login') }}">Sign in with Google</a>
            {% else %}
            <a href="{{ url_for('create_animal') }}">Add a pet</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>